<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: music can help us to look ideas	</title>
	<atom:link href="https://gitlab.com/Soham123/wordpress.git/2018/02/23/music-can-help-us-to-look-ideas/feed/" rel="self" type="application/rss+xml" />
	<link>https://gitlab.com/Soham123/wordpress.git/2018/02/23/music-can-help-us-to-look-ideas/</link>
	<description></description>
	<lastBuildDate>Fri, 23 Feb 2018 16:22:23 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.4.1</generator>
	<item>
		<title>
		By: Penelope Asquithille		</title>
		<link>https://gitlab.com/Soham123/wordpress.git/2018/02/23/music-can-help-us-to-look-ideas/#comment-18</link>

		<dc:creator><![CDATA[Penelope Asquithille]]></dc:creator>
		<pubDate>Fri, 23 Feb 2018 16:22:23 +0000</pubDate>
		<guid isPermaLink="false">http://w4.foxdsgn.com/awa/?p=496#comment-18</guid>

					<description><![CDATA[It occured to me recently after an entire afternoon at the Southwell vintner, had we tasted anything that could match the Malbecs we had on our most recent trip to Chile? In an age of rampant consumerism and on-demand television, can we really be surprised that the new generation would rather listen to hip hop than appreciate the subversive nature of the works of Arnold Schoenberg? Do you think the multinational corporations would let that happen?]]></description>
			<content:encoded><![CDATA[<p>It occured to me recently after an entire afternoon at the Southwell vintner, had we tasted anything that could match the Malbecs we had on our most recent trip to Chile? In an age of rampant consumerism and on-demand television, can we really be surprised that the new generation would rather listen to hip hop than appreciate the subversive nature of the works of Arnold Schoenberg? Do you think the multinational corporations would let that happen?</p>
]]></content:encoded>
		
			</item>
		<item>
		<title>
		By: John		</title>
		<link>https://gitlab.com/Soham123/wordpress.git/2018/02/23/music-can-help-us-to-look-ideas/#comment-17</link>

		<dc:creator><![CDATA[John]]></dc:creator>
		<pubDate>Fri, 23 Feb 2018 16:01:12 +0000</pubDate>
		<guid isPermaLink="false">http://w4.foxdsgn.com/awa/?p=496#comment-17</guid>

					<description><![CDATA[Quisque lacus dui, commodo eu pharetra a, dignissim eget metus. Donec gravida leo ac nunc fermentum, non tincidunt nisl pharetra. Vestibulum viverra mi ut vulputate mollis. Phasellus et magna id mauris lobortis facilisis a consectetur elit. Morbi pharetra aliquet neque]]></description>
			<content:encoded><![CDATA[<p>Quisque lacus dui, commodo eu pharetra a, dignissim eget metus. Donec gravida leo ac nunc fermentum, non tincidunt nisl pharetra. Vestibulum viverra mi ut vulputate mollis. Phasellus et magna id mauris lobortis facilisis a consectetur elit. Morbi pharetra aliquet neque</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
