<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>beauty &#8211; CSMTG Maynooth</title>
	<atom:link href="https://gitlab.com/Soham123/wordpress.git/tag/beauty/feed/" rel="self" type="application/rss+xml" />
	<link>https://gitlab.com/Soham123/wordpress.git/</link>
	<description></description>
	<lastBuildDate>Fri, 23 Feb 2018 14:35:31 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.4.1</generator>

<image>
	<url>https://gitlab.com/Soham123/wordpress.git/wp-content/uploads/2020/06/cropped-MusicalResearch-Image-1-32x32.png</url>
	<title>beauty &#8211; CSMTG Maynooth</title>
	<link>https://gitlab.com/Soham123/wordpress.git/</link>
	<width>32</width>
	<height>32</height>
</image> 
	<item>
		<title>beauty is in the eye of the beholder</title>
		<link>https://gitlab.com/Soham123/wordpress.git/2018/02/23/beauty-is-in-the-eye-of-the-beholder/</link>
					<comments>https://gitlab.com/Soham123/wordpress.git/2018/02/23/beauty-is-in-the-eye-of-the-beholder/#comments</comments>
		
		<dc:creator><![CDATA[admin]]></dc:creator>
		<pubDate>Fri, 23 Feb 2018 14:35:31 +0000</pubDate>
				<category><![CDATA[beauty]]></category>
		<category><![CDATA[lifestyle]]></category>
		<guid isPermaLink="false">http://w4.foxdsgn.com/awa/?p=488</guid>

					<description><![CDATA[In cum novum suscipiantur, per ei habeo diceret. Ad nulla sonet nam, amet debitis ius ei.]]></description>
										<content:encoded><![CDATA[<p>Arcu non sodales neque sodales ut etiam sit amet nisl. Non enim praesent elementum facilisis leo vel. Ut diam quam nulla porttitor massa id neque aliquam. Morbi tincidunt augue interdum velit euismod in. Massa tincidunt nunc pulvinar sapien et. Adipiscing elit duis tristique sollicitudin nibh. Odio eu feugiat pretium nibh. Imperdiet massa tincidunt nunc pulvinar. Quisque egestas diam in arcu. Eu facilisis sed odio morbi quis commodo odio aenean sed. In cursus turpis massa tincidunt dui ut ornare. Vulputate sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum.</p>
]]></content:encoded>
					
					<wfw:commentRss>https://gitlab.com/Soham123/wordpress.git/2018/02/23/beauty-is-in-the-eye-of-the-beholder/feed/</wfw:commentRss>
			<slash:comments>1</slash:comments>
		
		
			</item>
	</channel>
</rss>
