<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: typography	</title>
	<atom:link href="https://gitlab.com/Soham123/wordpress.git/portfolio-item/typography/feed/" rel="self" type="application/rss+xml" />
	<link>https://gitlab.com/Soham123/wordpress.git/portfolio-item/typography/</link>
	<description></description>
	<lastBuildDate>Fri, 16 Mar 2018 14:31:55 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.4.1</generator>
</channel>
</rss>
