@font-face {font-family: "Simple-Line-Icons-Pro";src: url("../fonts/Simple-Line-Icons-Pro.eot?jq15et");src: url("../fonts/Simple-Line-Icons-Pro.eot?jq15et#iefix") format("embedded-opentype"),url("../fonts/Simple-Line-Icons-Pro.ttf?jq15et") format("truetype"),url("../fonts/Simple-Line-Icons-Pro.woff?jq15et") format("woff"),url("../fonts/Simple-Line-Icons-Pro.svg?jq15et#Simple-Line-Icons-Pro") format("svg");font-weight: normal;font-style: normal;}
[class^="icon-"], [class*=" icon-"] {font-family: "Simple-Line-Icons-Pro";speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.icon-arrow-1-circle-down:before {content: "";}
.icon-arrow-1-circle-left:before {content: "";}
.icon-arrow-1-circle-right:before {content: "";}
.icon-arrow-1-circle-up:before {content: "";}
.icon-arrow-1-down:before {content: "";}
.icon-arrow-1-left:before {content: "";}
.icon-arrow-1-right:before {content: "";}
.icon-arrow-1-square-down:before {content: "";}
.icon-arrow-1-square-left:before {content: "";}
.icon-arrow-1-square-right:before {content: "";}
.icon-arrow-1-square-up:before {content: "";}
.icon-arrow-1-up:before {content: "";}
.icon-arrow-2-circle-down:before {content: "";}
.icon-arrow-2-circle-left:before {content: "";}
.icon-arrow-2-circle-right:before {content: "";}
.icon-arrow-2-circle-up:before {content: "";}
.icon-arrow-2-down:before {content: "";}
.icon-arrow-2-left:before {content: "";}
.icon-arrow-2-right:before {content: "";}
.icon-arrow-2-sqare-down:before {content: "";}
.icon-arrow-2-sqare-left:before {content: "";}
.icon-arrow-2-sqare-right:before {content: "";}
.icon-arrow-2-sqare-up:before {content: "";}
.icon-arrow-2-up:before {content: "";}
.icon-arrow-3-circle-down:before {content: "";}
.icon-arrow-3-circle-left:before {content: "";}
.icon-arrow-3-circle-right:before {content: "";}
.icon-arrow-3-circle-up:before {content: "";}
.icon-arrow-3-down:before {content: "";}
.icon-arrow-3-left:before {content: "";}
.icon-arrow-3-right:before {content: "";}
.icon-arrow-3-square-down:before {content: "";}
.icon-arrow-3-square-left:before {content: "";}
.icon-arrow-3-square-right:before {content: "";}
.icon-arrow-3-square-up:before {content: "";}
.icon-arrow-3-up:before {content: "";}
.icon-back-1:before {content: "";}
.icon-back-2:before {content: "";}
.icon-back-3:before {content: "";}
.icon-back-4-circle:before {content: "";}
.icon-back-4-square:before {content: "";}
.icon-back-4:before {content: "";}
.icon-back-5:before {content: "";}
.icon-back-6:before {content: "";}
.icon-back-7:before {content: "";}
.icon-backward-7:before {content: "";}
.icon-double-arrows-1-left:before {content: "";}
.icon-double-arrows-1-right:before {content: "";}
.icon-fork-arrows:before {content: "";}
.icon-forward-7:before {content: "";}
.icon-next-1:before {content: "";}
.icon-next-2:before {content: "";}
.icon-next-3:before {content: "";}
.icon-next-4-circle:before {content: "";}
.icon-next-4-square:before {content: "";}
.icon-next-4:before {content: "";}
.icon-next-5:before {content: "";}
.icon-next-6:before {content: "";}
.icon-next-7:before {content: "";}
.icon-s-arrow-1:before {content: "";}
.icon-s-arrow-2:before {content: "";}
.icon-s-arrow-3:before {content: "";}
.icon-answer:before {content: "";}
.icon-call-back:before {content: "";}
.icon-call-block:before {content: "";}
.icon-call-end:before {content: "";}
.icon-call-hold:before {content: "";}
.icon-call-in:before {content: "";}
.icon-call-logs:before {content: "";}
.icon-call-off:before {content: "";}
.icon-call-out:before {content: "";}
.icon-call:before {content: "";}
.icon-chat-1:before {content: "";}
.icon-chat-2:before {content: "";}
.icon-chat-3:before {content: "";}
.icon-comment-1-like:before {content: "";}
.icon-comment-1:before {content: "";}
.icon-comment-2-hashtag:before {content: "";}
.icon-comment-2-quote:before {content: "";}
.icon-comment-2-smile:before {content: "";}
.icon-comment-2-write-2:before {content: "";}
.icon-comment-2:before {content: "";}
.icon-comment-3-write-2:before {content: "";}
.icon-comment-3:before {content: "";}
.icon-comments-1:before {content: "";}
.icon-comments-2:before {content: "";}
.icon-comments-3:before {content: "";}
.icon-email-2-at:before {content: "";}
.icon-email-2-letter:before {content: "";}
.icon-email-2-open:before {content: "";}
.icon-email-2-search:before {content: "";}
.icon-email-at:before {content: "";}
.icon-email-ban:before {content: "";}
.icon-email-check:before {content: "";}
.icon-email-close:before {content: "";}
.icon-email-delete:before {content: "";}
.icon-email-edit:before {content: "";}
.icon-email-forward:before {content: "";}
.icon-email-in:before {content: "";}
.icon-email-letter:before {content: "";}
.icon-email-locked:before {content: "";}
.icon-email-new:before {content: "";}
.icon-email-open:before {content: "";}
.icon-email-out:before {content: "";}
.icon-email-refresh:before {content: "";}
.icon-email-reply:before {content: "";}
.icon-email-search:before {content: "";}
.icon-email-send:before {content: "";}
.icon-email-star:before {content: "";}
.icon-email:before {content: "";}
.icon-inbox-empty:before {content: "";}
.icon-inbox-full:before {content: "";}
.icon-inbox:before {content: "";}
.icon-letter:before {content: "";}
.icon-letters:before {content: "";}
.icon-megaphone-1:before {content: "";}
.icon-megaphone-2:before {content: "";}
.icon-message-1-alert:before {content: "";}
.icon-message-1-ask:before {content: "";}
.icon-message-1-hashtag:before {content: "";}
.icon-message-1-heart:before {content: "";}
.icon-message-1-music-tone:before {content: "";}
.icon-message-1-pause:before {content: "";}
.icon-message-1-quote:before {content: "";}
.icon-message-1-smile:before {content: "";}
.icon-message-1-write:before {content: "";}
.icon-message-1:before {content: "";}
.icon-message-2-alert:before {content: "";}
.icon-message-2-ask:before {content: "";}
.icon-message-2-heart:before {content: "";}
.icon-message-2-like:before {content: "";}
.icon-message-2-music-tone:before {content: "";}
.icon-message-2-pause:before {content: "";}
.icon-message-2-write:before {content: "";}
.icon-message-2:before {content: "";}
.icon-message-3-alert:before {content: "";}
.icon-message-3-ask:before {content: "";}
.icon-message-3-hashtag:before {content: "";}
.icon-message-3-heart:before {content: "";}
.icon-message-3-like:before {content: "";}
.icon-message-3-music-tone:before {content: "";}
.icon-message-3-pause:before {content: "";}
.icon-message-3-quote:before {content: "";}
.icon-message-3-smile:before {content: "";}
.icon-message-3-write:before {content: "";}
.icon-message-3:before {content: "";}
.icon-outbox:before {content: "";}
.icon-paper-plane-2:before {content: "";}
.icon-phone-call-in:before {content: "";}
.icon-phone-call-out:before {content: "";}
.icon-phone-contacts:before {content: "";}
.icon-phone-message-1:before {content: "";}
.icon-phone-message-2:before {content: "";}
.icon-phone-message-3:before {content: "";}
.icon-phone-ring:before {content: "";}
.icon-Q-and-A:before {content: "";}
.icon-telephone-1:before {content: "";}
.icon-voicemail:before {content: "";}
.icon-battery-1:before {content: "";}
.icon-battery-2:before {content: "";}
.icon-battery-3:before {content: "";}
.icon-battery-4:before {content: "";}
.icon-battery-5:before {content: "";}
.icon-battery-charging:before {content: "";}
.icon-battery-empty:before {content: "";}
.icon-battery-fully-charged:before {content: "";}
.icon-battery-low:before {content: "";}
.icon-battery-warning:before {content: "";}
.icon-cable-1:before {content: "";}
.icon-cable-2:before {content: "";}
.icon-CD-1:before {content: "";}
.icon-cd-burn:before {content: "";}
.icon-charger-plug-1:before {content: "";}
.icon-charger-plug-2:before {content: "";}
.icon-charger-plug-3:before {content: "";}
.icon-desktop:before {content: "";}
.icon-diskette-1:before {content: "";}
.icon-diskette-2:before {content: "";}
.icon-diskette-3:before {content: "";}
.icon-flashdrive:before {content: "";}
.icon-gameboy:before {content: "";}
.icon-hdd:before {content: "";}
.icon-imac:before {content: "";}
.icon-ipod:before {content: "";}
.icon-iwatch:before {content: "";}
.icon-joystick-1:before {content: "";}
.icon-joystick-2:before {content: "";}
.icon-keyboard-1:before {content: "";}
.icon-keyboard-2:before {content: "";}
.icon-laptop-1:before {content: "";}
.icon-laptop-2:before {content: "";}
.icon-monitor:before {content: "";}
.icon-mouse-1:before {content: "";}
.icon-mouse-2:before {content: "";}
.icon-mouse-3:before {content: "";}
.icon-old-computer:before {content: "";}
.icon-old-radio-1:before {content: "";}
.icon-old-radio-2:before {content: "";}
.icon-old-radio-3:before {content: "";}
.icon-old-telephone:before {content: "";}
.icon-old-tv-1:before {content: "";}
.icon-old-tv-2:before {content: "";}
.icon-outlet:before {content: "";}
.icon-plug:before {content: "";}
.icon-printer:before {content: "";}
.icon-projector:before {content: "";}
.icon-psp:before {content: "";}
.icon-remote:before {content: "";}
.icon-router:before {content: "";}
.icon-security-camera:before {content: "";}
.icon-shredder:before {content: "";}
.icon-sim-1:before {content: "";}
.icon-sim-2:before {content: "";}
.icon-smart-watch:before {content: "";}
.icon-smartphone-3G:before {content: "";}
.icon-smartphone-4G:before {content: "";}
.icon-smartphone-desktop:before {content: "";}
.icon-smartphone-hand-1:before {content: "";}
.icon-smartphone-hand-2:before {content: "";}
.icon-smartphone-landscape:before {content: "";}
.icon-smartphone-laptop:before {content: "";}
.icon-smartphone-off:before {content: "";}
.icon-smartphone-orientation:before {content: "";}
.icon-smartphone-rotate-left:before {content: "";}
.icon-smartphone-rotate-right:before {content: "";}
.icon-smartphone-tablet-1:before {content: "";}
.icon-smartphone-tablet-2:before {content: "";}
.icon-smartphone-tablet-desktop:before {content: "";}
.icon-smartphone:before {content: "";}
.icon-smartphones:before {content: "";}
.icon-switch:before {content: "";}
.icon-tablet-desktop:before {content: "";}
.icon-tablet-landscape:before {content: "";}
.icon-tablet-orientation-landscape:before {content: "";}
.icon-tablet-orientation-portrait:before {content: "";}
.icon-tablet-stylus:before {content: "";}
.icon-tablet:before {content: "";}
.icon-tablets:before {content: "";}
.icon-telephone:before {content: "";}
.icon-tv:before {content: "";}
.icon-usb-wireless:before {content: "";}
.icon-web-camera:before {content: "";}
.icon-auction:before {content: "";}
.icon-barcode-scan:before {content: "";}
.icon-barcode:before {content: "";}
.icon-basket-add:before {content: "";}
.icon-basket-checked:before {content: "";}
.icon-basket-close:before {content: "";}
.icon-basket-in:before {content: "";}
.icon-basket-out:before {content: "";}
.icon-basket-remove:before {content: "";}
.icon-basket:before {content: "";}
.icon-cart-1-add:before {content: "";}
.icon-cart-1-cancel:before {content: "";}
.icon-cart-1-checked:before {content: "";}
.icon-cart-1-in:before {content: "";}
.icon-cart-1-loaded:before {content: "";}
.icon-cart-1-out:before {content: "";}
.icon-cart-1-remove:before {content: "";}
.icon-cart-1:before {content: "";}
.icon-cart-2-add:before {content: "";}
.icon-cart-2-cancel:before {content: "";}
.icon-cart-2-checked:before {content: "";}
.icon-cart-2-in:before {content: "";}
.icon-cart-2-loaded:before {content: "";}
.icon-cart-2-out:before {content: "";}
.icon-cart-2-remove:before {content: "";}
.icon-cart-2:before {content: "";}
.icon-cart-3-loaded:before {content: "";}
.icon-cart-3:before {content: "";}
.icon-delivery-1:before {content: "";}
.icon-delivery-2:before {content: "";}
.icon-delivery-3:before {content: "";}
.icon-delivery-box-1:before {content: "";}
.icon-delivery-box-2:before {content: "";}
.icon-discount-circle:before {content: "";}
.icon-discount-star:before {content: "";}
.icon-handbag:before {content: "";}
.icon-list-heart:before {content: "";}
.icon-open-sign:before {content: "";}
.icon-price-tag:before {content: "";}
.icon-qr-code:before {content: "";}
.icon-shop-1:before {content: "";}
.icon-shop-2-location:before {content: "";}
.icon-shop-2:before {content: "";}
.icon-shopping-bag-add:before {content: "";}
.icon-shopping-bag-checked:before {content: "";}
.icon-shopping-bag-close:before {content: "";}
.icon-shopping-bag-heart:before {content: "";}
.icon-shopping-bag-remove:before {content: "";}
.icon-shopping-bag:before {content: "";}
.icon-shopping-tag:before {content: "";}
.icon-shopping-tags:before {content: "";}
.icon-ticket:before {content: "";}
.icon-wallet-1:before {content: "";}
.icon-wallet-add:before {content: "";}
.icon-wallet-ban:before {content: "";}
.icon-wallet-cancel:before {content: "";}
.icon-wallet-info:before {content: "";}
.icon-wallet-loaded:before {content: "";}
.icon-wallet-locked:before {content: "";}
.icon-wallet-remove:before {content: "";}
.icon-wallet-verified:before {content: "";}
.icon-wallet1:before {content: "";}
.icon-abacus:before {content: "";}
.icon-alphabet:before {content: "";}
.icon-blackboard-1:before {content: "";}
.icon-blackboard-2:before {content: "";}
.icon-blackboard-3:before {content: "";}
.icon-blackboard-alphabet:before {content: "";}
.icon-blackboard-pointer:before {content: "";}
.icon-bomb:before {content: "";}
.icon-briefcase-2:before {content: "";}
.icon-bulb-add:before {content: "";}
.icon-bulb-checked:before {content: "";}
.icon-bulb-close:before {content: "";}
.icon-bulb-idea:before {content: "";}
.icon-bulb-remove:before {content: "";}
.icon-bulb:before {content: "";}
.icon-chemistry-1-test-failed:before {content: "";}
.icon-chemistry-1-test-successful:before {content: "";}
.icon-chemistry-1:before {content: "";}
.icon-chemistry-2:before {content: "";}
.icon-chemistry-3:before {content: "";}
.icon-chemistry-5:before {content: "";}
.icon-divider:before {content: "";}
.icon-drawers:before {content: "";}
.icon-earth-globe:before {content: "";}
.icon-formula-2:before {content: "";}
.icon-formula:before {content: "";}
.icon-germs:before {content: "";}
.icon-grade:before {content: "";}
.icon-graduation-cap:before {content: "";}
.icon-learning:before {content: "";}
.icon-math:before {content: "";}
.icon-molecule:before {content: "";}
.icon-nerd-glasses:before {content: "";}
.icon-physics-1:before {content: "";}
.icon-physics-2:before {content: "";}
.icon-planet:before {content: "";}
.icon-school-bag:before {content: "";}
.icon-telescope:before {content: "";}
.icon-university:before {content: "";}
.icon-d-axis:before {content: "";}
.icon-d-axis-2:before {content: "";}
.icon-d-axis2:before {content: "";}
.icon-d-cube:before {content: "";}
.icon-blur:before {content: "";}
.icon-bring-forward:before {content: "";}
.icon-brush-1:before {content: "";}
.icon-brush-2:before {content: "";}
.icon-brush-pencil:before {content: "";}
.icon-cmyk:before {content: "";}
.icon-color-palette:before {content: "";}
.icon-crop:before {content: "";}
.icon-easel:before {content: "";}
.icon-eraser:before {content: "";}
.icon-eyedropper-1:before {content: "";}
.icon-eyedropper-2:before {content: "";}
.icon-golden-spiral:before {content: "";}
.icon-graphic-tablet:before {content: "";}
.icon-grid:before {content: "";}
.icon-layers-1:before {content: "";}
.icon-layers-2:before {content: "";}
.icon-layers-add-1:before {content: "";}
.icon-layers-add-2:before {content: "";}
.icon-layers-linked-1:before {content: "";}
.icon-layers-linked-2:before {content: "";}
.icon-layers-locked-1:before {content: "";}
.icon-layers-locked-2:before {content: "";}
.icon-layers-off-1:before {content: "";}
.icon-layers-remove-1:before {content: "";}
.icon-layers-remove-2:before {content: "";}
.icon-paint-bucket-1:before {content: "";}
.icon-paint-bucket-2:before {content: "";}
.icon-paint-roll:before {content: "";}
.icon-pantone-charts:before {content: "";}
.icon-pathfinder-exclude:before {content: "";}
.icon-pathfinder-intersect:before {content: "";}
.icon-pathfinder-minus-front:before {content: "";}
.icon-pathfinder-unite:before {content: "";}
.icon-pen-2:before {content: "";}
.icon-pen-pencil:before {content: "";}
.icon-pen1:before {content: "";}
.icon-pencil-ruler:before {content: "";}
.icon-pencil1:before {content: "";}
.icon-pencil2:before {content: "";}
.icon-rgb:before {content: "";}
.icon-ruler-triangle:before {content: "";}
.icon-ruler:before {content: "";}
.icon-scissors-2:before {content: "";}
.icon-scissors:before {content: "";}
.icon-send-backward:before {content: "";}
.icon-sharpener:before {content: "";}
.icon-smart-object:before {content: "";}
.icon-spiral:before {content: "";}
.icon-spray-can:before {content: "";}
.icon-square-circle:before {content: "";}
.icon-square-triangle-circle:before {content: "";}
.icon-square-triangle:before {content: "";}
.icon-stylus:before {content: "";}
.icon-varnish-brush:before {content: "";}
.icon-vector-arc:before {content: "";}
.icon-vector-circle:before {content: "";}
.icon-vector-line:before {content: "";}
.icon-vector-path-1:before {content: "";}
.icon-vector-path-2:before {content: "";}
.icon-vector-path-3:before {content: "";}
.icon-vector-rectangle:before {content: "";}
.icon-vector-triangle:before {content: "";}
.icon-agenda-1:before {content: "";}
.icon-agenda-2:before {content: "";}
.icon-article-2:before {content: "";}
.icon-article-3:before {content: "";}
.icon-article:before {content: "";}
.icon-ballpen:before {content: "";}
.icon-bold:before {content: "";}
.icon-book-2:before {content: "";}
.icon-book-3:before {content: "";}
.icon-book-4:before {content: "";}
.icon-book-5:before {content: "";}
.icon-book-6:before {content: "";}
.icon-book:before {content: "";}
.icon-bookmark-2:before {content: "";}
.icon-bookmark-3:before {content: "";}
.icon-bookmark-4:before {content: "";}
.icon-bookmark-add:before {content: "";}
.icon-bookmark-checked:before {content: "";}
.icon-bookmark1:before {content: "";}
.icon-bookmarks:before {content: "";}
.icon-character:before {content: "";}
.icon-characters:before {content: "";}
.icon-clipboard-1:before {content: "";}
.icon-clipboard-2:before {content: "";}
.icon-clipboard-check:before {content: "";}
.icon-clipboard-file:before {content: "";}
.icon-cmd:before {content: "";}
.icon-content-1:before {content: "";}
.icon-content-2:before {content: "";}
.icon-content-3:before {content: "";}
.icon-copy-plain-text:before {content: "";}
.icon-copy-styles:before {content: "";}
.icon-CV-2:before {content: "";}
.icon-CV:before {content: "";}
.icon-document-envelope-1:before {content: "";}
.icon-document-envelope-2:before {content: "";}
.icon-document-pencil:before {content: "";}
.icon-indent-left:before {content: "";}
.icon-indent-right:before {content: "";}
.icon-liner:before {content: "";}
.icon-list-bullets:before {content: "";}
.icon-list-numbers:before {content: "";}
.icon-marker:before {content: "";}
.icon-newspaper:before {content: "";}
.icon-nib-1:before {content: "";}
.icon-nib-2:before {content: "";}
.icon-note:before {content: "";}
.icon-notebook:before {content: "";}
.icon-office-archives:before {content: "";}
.icon-paper-clamp:before {content: "";}
.icon-papyrus:before {content: "";}
.icon-paragraph-down:before {content: "";}
.icon-paragraph-up:before {content: "";}
.icon-paragraph:before {content: "";}
.icon-pen-1:before {content: "";}
.icon-pencil-1:before {content: "";}
.icon-pencil-2:before {content: "";}
.icon-quill-ink-pot:before {content: "";}
.icon-quill:before {content: "";}
.icon-quotes:before {content: "";}
.icon-research:before {content: "";}
.icon-spell-check:before {content: "";}
.icon-strikethrough:before {content: "";}
.icon-text-box:before {content: "";}
.icon-text-color:before {content: "";}
.icon-text-input:before {content: "";}
.icon-text-italic:before {content: "";}
.icon-text:before {content: "";}
.icon-translate:before {content: "";}
.icon-underline:before {content: "";}
.icon-user-manual-2:before {content: "";}
.icon-user-manual:before {content: "";}
.icon-write-2:before {content: "";}
.icon-write-3:before {content: "";}
.icon-write-off:before {content: "";}
.icon-write:before {content: "";}
.icon-add-notification:before {content: "";}
.icon-add-tab:before {content: "";}
.icon-airplane-mode-2:before {content: "";}
.icon-airplane-mode:before {content: "";}
.icon-align-bottom:before {content: "";}
.icon-align-left:before {content: "";}
.icon-align-right:before {content: "";}
.icon-allign-top:before {content: "";}
.icon-backward:before {content: "";}
.icon-ban:before {content: "";}
.icon-brightness-high:before {content: "";}
.icon-brightness-low:before {content: "";}
.icon-cancel-circle:before {content: "";}
.icon-cancel-square-2:before {content: "";}
.icon-check-all:before {content: "";}
.icon-check-circle-2:before {content: "";}
.icon-check-circle:before {content: "";}
.icon-check-square-2:before {content: "";}
.icon-check-square:before {content: "";}
.icon-check:before {content: "";}
.icon-close:before {content: "";}
.icon-config-1:before {content: "";}
.icon-config-2:before {content: "";}
.icon-contract-2:before {content: "";}
.icon-contract-3:before {content: "";}
.icon-contract-4:before {content: "";}
.icon-contract:before {content: "";}
.icon-cursor-click:before {content: "";}
.icon-cursor-double-click:before {content: "";}
.icon-cursor-select:before {content: "";}
.icon-cursor:before {content: "";}
.icon-door-lock:before {content: "";}
.icon-double-tap:before {content: "";}
.icon-download-1:before {content: "";}
.icon-download-2:before {content: "";}
.icon-drag-1:before {content: "";}
.icon-drag:before {content: "";}
.icon-edit-1:before {content: "";}
.icon-edit-2:before {content: "";}
.icon-edit-3:before {content: "";}
.icon-expand-2:before {content: "";}
.icon-expand-3:before {content: "";}
.icon-expand-4:before {content: "";}
.icon-expand-horizontal:before {content: "";}
.icon-expand-vertical:before {content: "";}
.icon-expand:before {content: "";}
.icon-eye-off:before {content: "";}
.icon-eye:before {content: "";}
.icon-fingerprint:before {content: "";}
.icon-flash-2:before {content: "";}
.icon-flash-3:before {content: "";}
.icon-flash-4:before {content: "";}
.icon-flip-horizontal:before {content: "";}
.icon-flip-vertical:before {content: "";}
.icon-forward:before {content: "";}
.icon-grid-circles:before {content: "";}
.icon-grid-squares-2:before {content: "";}
.icon-grid-squares:before {content: "";}
.icon-hamburger-menu-1:before {content: "";}
.icon-hamburger-menu-2:before {content: "";}
.icon-hand:before {content: "";}
.icon-help-1:before {content: "";}
.icon-help-2:before {content: "";}
.icon-home:before {content: "";}
.icon-info:before {content: "";}
.icon-inside:before {content: "";}
.icon-key-1:before {content: "";}
.icon-key-2:before {content: "";}
.icon-label-cancel:before {content: "";}
.icon-label:before {content: "";}
.icon-layout-1:before {content: "";}
.icon-layout-2:before {content: "";}
.icon-layout-3:before {content: "";}
.icon-list-1:before {content: "";}
.icon-list-2:before {content: "";}
.icon-list-3:before {content: "";}
.icon-list-4:before {content: "";}
.icon-lock:before {content: "";}
.icon-loop:before {content: "";}
.icon-magic-wand-1:before {content: "";}
.icon-magic-wand-2:before {content: "";}
.icon-magnet:before {content: "";}
.icon-magnifier-1:before {content: "";}
.icon-magnifier-2:before {content: "";}
.icon-maximize-left:before {content: "";}
.icon-maximize-right:before {content: "";}
.icon-menu-circle-grid:before {content: "";}
.icon-minus-circle:before {content: "";}
.icon-minus-square:before {content: "";}
.icon-more-circle:before {content: "";}
.icon-more-circles-horizontal:before {content: "";}
.icon-more-circles-vertical:before {content: "";}
.icon-more-squares-vertical-filled:before {content: "";}
.icon-more-squares-vertical:before {content: "";}
.icon-notification-2:before {content: "";}
.icon-notification-off:before {content: "";}
.icon-notification-paused:before {content: "";}
.icon-notification:before {content: "";}
.icon-outside:before {content: "";}
.icon-paper-clip:before {content: "";}
.icon-paper-plane:before {content: "";}
.icon-pass:before {content: "";}
.icon-phone-shake:before {content: "";}
.icon-pin-1:before {content: "";}
.icon-pin-2:before {content: "";}
.icon-pin-3:before {content: "";}
.icon-pin-code:before {content: "";}
.icon-plus-circle:before {content: "";}
.icon-plus-square:before {content: "";}
.icon-plus:before {content: "";}
.icon-pointer:before {content: "";}
.icon-power:before {content: "";}
.icon-press:before {content: "";}
.icon-question:before {content: "";}
.icon-refresh-2:before {content: "";}
.icon-refresh-warning:before {content: "";}
.icon-refresh:before {content: "";}
.icon-reload-checked:before {content: "";}
.icon-reload:before {content: "";}
.icon-remove-tab:before {content: "";}
.icon-rotate:before {content: "";}
.icon-scroll:before {content: "";}
.icon-search-history:before {content: "";}
.icon-settings-2:before {content: "";}
.icon-settings:before {content: "";}
.icon-Shape18:before {content: "";}
.icon-share-1:before {content: "";}
.icon-share-2:before {content: "";}
.icon-share-3:before {content: "";}
.icon-share-4:before {content: "";}
.icon-spread:before {content: "";}
.icon-swap-horizontal:before {content: "";}
.icon-swap-vertical:before {content: "";}
.icon-swipe-down:before {content: "";}
.icon-swipe-left:before {content: "";}
.icon-swipe-right:before {content: "";}
.icon-swipe-up:before {content: "";}
.icon-switch-off:before {content: "";}
.icon-switch-on:before {content: "";}
.icon-switches-1:before {content: "";}
.icon-switches-2:before {content: "";}
.icon-tabs-2:before {content: "";}
.icon-tabs:before {content: "";}
.icon-tap:before {content: "";}
.icon-touch:before {content: "";}
.icon-trash-recycle:before {content: "";}
.icon-trash:before {content: "";}
.icon-unlocked:before {content: "";}
.icon-upload-1:before {content: "";}
.icon-upload-2:before {content: "";}
.icon-warning-circle:before {content: "";}
.icon-warning-hexagon:before {content: "";}
.icon-warning-triangle:before {content: "";}
.icon-zoom-in-1:before {content: "";}
.icon-zoom-in-2:before {content: "";}
.icon-zoom-out-1:before {content: "";}
.icon-zoom-out-2:before {content: "";}
.icon-file-aep:before {content: "";}
.icon-file-ai:before {content: "";}
.icon-file-apk:before {content: "";}
.icon-file-archive:before {content: "";}
.icon-file-audio:before {content: "";}
.icon-file-avi:before {content: "";}
.icon-file-backup:before {content: "";}
.icon-file-bookmark:before {content: "";}
.icon-file-cdr:before {content: "";}
.icon-file-clip:before {content: "";}
.icon-file-code:before {content: "";}
.icon-file-copy:before {content: "";}
.icon-file-corrupted:before {content: "";}
.icon-file-css:before {content: "";}
.icon-file-delete:before {content: "";}
.icon-file-dmg:before {content: "";}
.icon-file-doc:before {content: "";}
.icon-file-download:before {content: "";}
.icon-file-edit:before {content: "";}
.icon-file-eps:before {content: "";}
.icon-file-error:before {content: "";}
.icon-file-exchange:before {content: "";}
.icon-file-exe:before {content: "";}
.icon-file-export:before {content: "";}
.icon-file-flv:before {content: "";}
.icon-file-gif:before {content: "";}
.icon-file-ico:before {content: "";}
.icon-file-image:before {content: "";}
.icon-file-import:before {content: "";}
.icon-file-info:before {content: "";}
.icon-file-jpg:before {content: "";}
.icon-file-linked:before {content: "";}
.icon-file-load:before {content: "";}
.icon-file-locked:before {content: "";}
.icon-file-mov:before {content: "";}
.icon-file-mp3:before {content: "";}
.icon-file-mpg:before {content: "";}
.icon-file-new:before {content: "";}
.icon-file-otf:before {content: "";}
.icon-file-pdf:before {content: "";}
.icon-file-png:before {content: "";}
.icon-file-psd:before {content: "";}
.icon-file-rar:before {content: "";}
.icon-file-raw:before {content: "";}
.icon-file-remove:before {content: "";}
.icon-file-search:before {content: "";}
.icon-file-settings:before {content: "";}
.icon-file-share:before {content: "";}
.icon-file-star:before {content: "";}
.icon-file-svg:before {content: "";}
.icon-file-sync:before {content: "";}
.icon-file-table:before {content: "";}
.icon-file-text:before {content: "";}
.icon-file-tif:before {content: "";}
.icon-file-ttf:before {content: "";}
.icon-file-txt:before {content: "";}
.icon-file-upload:before {content: "";}
.icon-file-vector:before {content: "";}
.icon-file-video:before {content: "";}
.icon-file-warning:before {content: "";}
.icon-file-xls:before {content: "";}
.icon-file-xml:before {content: "";}
.icon-file-zip:before {content: "";}
.icon-file:before {content: "";}
.icon-files-2:before {content: "";}
.icon-files:before {content: "";}
.icon-folder-alert:before {content: "";}
.icon-folder-archive:before {content: "";}
.icon-folder-audio:before {content: "";}
.icon-folder-backup:before {content: "";}
.icon-folder-bookmark:before {content: "";}
.icon-folder-check:before {content: "";}
.icon-folder-code:before {content: "";}
.icon-folder-copy:before {content: "";}
.icon-folder-delete:before {content: "";}
.icon-folder-download:before {content: "";}
.icon-folder-exchange:before {content: "";}
.icon-folder-export:before {content: "";}
.icon-folder-file:before {content: "";}
.icon-folder-image:before {content: "";}
.icon-folder-import:before {content: "";}
.icon-folder-info:before {content: "";}
.icon-folder-linked:before {content: "";}
.icon-folder-locked:before {content: "";}
.icon-folder-new:before {content: "";}
.icon-folder-open:before {content: "";}
.icon-folder-search:before {content: "";}
.icon-folder-share:before {content: "";}
.icon-folder-star:before {content: "";}
.icon-folder-sync:before {content: "";}
.icon-folder-text:before {content: "";}
.icon-folder-upload:before {content: "";}
.icon-folder-video:before {content: "";}
.icon-folder:before {content: "";}
.icon-alcohol:before {content: "";}
.icon-apple-1:before {content: "";}
.icon-apple-2:before {content: "";}
.icon-apple-3:before {content: "";}
.icon-avocado:before {content: "";}
.icon-banana:before {content: "";}
.icon-barbecue:before {content: "";}
.icon-beer-mug:before {content: "";}
.icon-beverage:before {content: "";}
.icon-blender:before {content: "";}
.icon-bottle-beer:before {content: "";}
.icon-bottle-milk:before {content: "";}
.icon-bottle-wine:before {content: "";}
.icon-bowl:before {content: "";}
.icon-bread-1:before {content: "";}
.icon-bread-2:before {content: "";}
.icon-butcher-knife:before {content: "";}
.icon-cake:before {content: "";}
.icon-candy:before {content: "";}
.icon-capcake:before {content: "";}
.icon-carrot:before {content: "";}
.icon-champagne:before {content: "";}
.icon-checken:before {content: "";}
.icon-cheese:before {content: "";}
.icon-chef-hat-1:before {content: "";}
.icon-chef-hat-2:before {content: "";}
.icon-chef-knife:before {content: "";}
.icon-cherry:before {content: "";}
.icon-coconut:before {content: "";}
.icon-coffee-bean:before {content: "";}
.icon-coffee-cup:before {content: "";}
.icon-coffee-machine:before {content: "";}
.icon-coffee-mug:before {content: "";}
.icon-cookie-1:before {content: "";}
.icon-cookie-2:before {content: "";}
.icon-cooking-pan:before {content: "";}
.icon-cooking-pot:before {content: "";}
.icon-cooking-timer-1:before {content: "";}
.icon-cooking-timer-2:before {content: "";}
.icon-cooking-timer-3:before {content: "";}
.icon-cooking-timer-4:before {content: "";}
.icon-cooking-timer-5:before {content: "";}
.icon-cooking-timer-6:before {content: "";}
.icon-cooking-timer-7:before {content: "";}
.icon-cooking-timer-8:before {content: "";}
.icon-corkscrew:before {content: "";}
.icon-croissant:before {content: "";}
.icon-egg:before {content: "";}
.icon-fast-food:before {content: "";}
.icon-fire:before {content: "";}
.icon-fork-knife-1:before {content: "";}
.icon-fork-knife-2:before {content: "";}
.icon-fork-spoon-knife:before {content: "";}
.icon-fork-spoon:before {content: "";}
.icon-fork:before {content: "";}
.icon-fridge:before {content: "";}
.icon-fried-egg:before {content: "";}
.icon-fries:before {content: "";}
.icon-glass-beer-1:before {content: "";}
.icon-glass-beer-2:before {content: "";}
.icon-glass-champagme-1:before {content: "";}
.icon-glass-champagme-2:before {content: "";}
.icon-glass-cocktail-1:before {content: "";}
.icon-glass-cocktail-2:before {content: "";}
.icon-glass-water:before {content: "";}
.icon-glass-wine-1:before {content: "";}
.icon-glass-wine-2:before {content: "";}
.icon-glass-wine-3:before {content: "";}
.icon-grapes:before {content: "";}
.icon-grinder:before {content: "";}
.icon-hamburger:before {content: "";}
.icon-ice-cream-1:before {content: "";}
.icon-ice-cream-2:before {content: "";}
.icon-ice-cream-3:before {content: "";}
.icon-jam-jar:before {content: "";}
.icon-kitchen-glove:before {content: "";}
.icon-kitchen-sclae:before {content: "";}
.icon-knife:before {content: "";}
.icon-ladle:before {content: "";}
.icon-lemon:before {content: "";}
.icon-lollipop-1:before {content: "";}
.icon-lollipop-2:before {content: "";}
.icon-meal-time:before {content: "";}
.icon-meal:before {content: "";}
.icon-microwave:before {content: "";}
.icon-mushroom:before {content: "";}
.icon-pear-1:before {content: "";}
.icon-pear-2:before {content: "";}
.icon-pear-apple:before {content: "";}
.icon-pepper:before {content: "";}
.icon-pitcher:before {content: "";}
.icon-pizza:before {content: "";}
.icon-pretzel:before {content: "";}
.icon-recipe:before {content: "";}
.icon-sausage:before {content: "";}
.icon-shake:before {content: "";}
.icon-skewer:before {content: "";}
.icon-spoon:before {content: "";}
.icon-strawberry:before {content: "";}
.icon-sushi-1:before {content: "";}
.icon-sushi-2:before {content: "";}
.icon-tea-cup:before {content: "";}
.icon-tea-mug:before {content: "";}
.icon-teapot-1:before {content: "";}
.icon-teapot-2:before {content: "";}
.icon-togo-cup-1:before {content: "";}
.icon-water-can:before {content: "";}
.icon-watermelon:before {content: "";}
.icon-K:before {content: "";}
.icon-album-2:before {content: "";}
.icon-album:before {content: "";}
.icon-albums:before {content: "";}
.icon-aperture:before {content: "";}
.icon-aspect-ratio:before {content: "";}
.icon-audiobook-2:before {content: "";}
.icon-audiobook:before {content: "";}
.icon-boombox-1:before {content: "";}
.icon-boombox-2:before {content: "";}
.icon-camcorder:before {content: "";}
.icon-camera-focus:before {content: "";}
.icon-camera-off:before {content: "";}
.icon-camera-reverse:before {content: "";}
.icon-camera-swap:before {content: "";}
.icon-camera-tripod:before {content: "";}
.icon-camera:before {content: "";}
.icon-cassette:before {content: "";}
.icon-CD:before {content: "";}
.icon-clapperboard:before {content: "";}
.icon-closed-caption:before {content: "";}
.icon-director-chair:before {content: "";}
.icon-earphones-1:before {content: "";}
.icon-earphones-2:before {content: "";}
.icon-earphones-3:before {content: "";}
.icon-eject-circle:before {content: "";}
.icon-eject:before {content: "";}
.icon-end-circle:before {content: "";}
.icon-end:before {content: "";}
.icon-exposure:before {content: "";}
.icon-external-flash:before {content: "";}
.icon-film-1:before {content: "";}
.icon-film-l:before {content: "";}
.icon-film-reel:before {content: "";}
.icon-flash-auto:before {content: "";}
.icon-flash-off:before {content: "";}
.icon-flash:before {content: "";}
.icon-forward-2:before {content: "";}
.icon-forward-circle:before {content: "";}
.icon-frame:before {content: "";}
.icon-HD:before {content: "";}
.icon-headphones-1:before {content: "";}
.icon-headphones-2:before {content: "";}
.icon-loop-1:before {content: "";}
.icon-loop-2:before {content: "";}
.icon-loop-all:before {content: "";}
.icon-macro:before {content: "";}
.icon-media-player:before {content: "";}
.icon-mic-2:before {content: "";}
.icon-microphone-off:before {content: "";}
.icon-microphone:before {content: "";}
.icon-moviecamera:before {content: "";}
.icon-music-tone-1-off:before {content: "";}
.icon-music-tone-1:before {content: "";}
.icon-music-tone-2-off:before {content: "";}
.icon-music-tone-2:before {content: "";}
.icon-mute:before {content: "";}
.icon-panorama:before {content: "";}
.icon-pause-circle:before {content: "";}
.icon-pause:before {content: "";}
.icon-photo-add:before {content: "";}
.icon-photo-album:before {content: "";}
.icon-photo:before {content: "";}
.icon-photos:before {content: "";}
.icon-play-circle:before {content: "";}
.icon-play:before {content: "";}
.icon-playlist-1:before {content: "";}
.icon-playlist-add:before {content: "";}
.icon-playlist-audio:before {content: "";}
.icon-playlist-video:before {content: "";}
.icon-podcast:before {content: "";}
.icon-rec-circle:before {content: "";}
.icon-retro-camera:before {content: "";}
.icon-rewind-circle:before {content: "";}
.icon-rewind:before {content: "";}
.icon-rotate-left:before {content: "";}
.icon-rotate-right:before {content: "";}
.icon-SD:before {content: "";}
.icon-shuffle:before {content: "";}
.icon-slideshow-1:before {content: "";}
.icon-slideshow-2:before {content: "";}
.icon-soundwave:before {content: "";}
.icon-speaker-1:before {content: "";}
.icon-speaker-2:before {content: "";}
.icon-start-circle:before {content: "";}
.icon-start:before {content: "";}
.icon-stereo-1:before {content: "";}
.icon-stereo-2:before {content: "";}
.icon-stop-circle:before {content: "";}
.icon-stop:before {content: "";}
.icon-turntable:before {content: "";}
.icon-video-camera-2:before {content: "";}
.icon-video-camera-off:before {content: "";}
.icon-video-camera:before {content: "";}
.icon-volume-1:before {content: "";}
.icon-volume-2:before {content: "";}
.icon-volume-off:before {content: "";}
.icon-vumeter:before {content: "";}
.icon-7-support-1:before {content: "";}
.icon-7-support-2:before {content: "";}
.icon-h-calls:before {content: "";}
.icon-ATM-1:before {content: "";}
.icon-ATM-2:before {content: "";}
.icon-balance:before {content: "";}
.icon-bank:before {content: "";}
.icon-banknote-1:before {content: "";}
.icon-banknote-2:before {content: "";}
.icon-banknote-coins:before {content: "";}
.icon-banknotes-1:before {content: "";}
.icon-banknotes-2:before {content: "";}
.icon-bar-chart-board:before {content: "";}
.icon-bar-chart-down:before {content: "";}
.icon-bar-chart-search:before {content: "";}
.icon-bar-chart-stats-down:before {content: "";}
.icon-bar-chart-stats-up:before {content: "";}
.icon-bar-chart-up:before {content: "";}
.icon-bar-chart:before {content: "";}
.icon-bill-1:before {content: "";}
.icon-bill-2:before {content: "";}
.icon-bitcoin:before {content: "";}
.icon-briefcase:before {content: "";}
.icon-btcoin-circle:before {content: "";}
.icon-calculator:before {content: "";}
.icon-calendar-money:before {content: "";}
.icon-cent-circle:before {content: "";}
.icon-cent:before {content: "";}
.icon-coins-1:before {content: "";}
.icon-coins-2:before {content: "";}
.icon-coins-3:before {content: "";}
.icon-coins-4:before {content: "";}
.icon-credit-card-2:before {content: "";}
.icon-credit-card:before {content: "";}
.icon-currency-exchange:before {content: "";}
.icon-donut-chart-1:before {content: "";}
.icon-donut-chart-2:before {content: "";}
.icon-EUR-circle:before {content: "";}
.icon-EUR:before {content: "";}
.icon-GBP-circle:before {content: "";}
.icon-GBP:before {content: "";}
.icon-gold-1:before {content: "";}
.icon-gold-2:before {content: "";}
.icon-graph-2:before {content: "";}
.icon-graph-chart-board-down:before {content: "";}
.icon-graph-chart-board-up:before {content: "";}
.icon-graph-chart-board:before {content: "";}
.icon-graph-down:before {content: "";}
.icon-graph-money:before {content: "";}
.icon-graph-up:before {content: "";}
.icon-graph:before {content: "";}
.icon-hand-banknote:before {content: "";}
.icon-hand-banknotes:before {content: "";}
.icon-hand-bill-1:before {content: "";}
.icon-hand-bill-2:before {content: "";}
.icon-hand-coin:before {content: "";}
.icon-hand-coins:before {content: "";}
.icon-hand-credit-card:before {content: "";}
.icon-JPY-circle:before {content: "";}
.icon-JPY:before {content: "";}
.icon-money-bag-coins:before {content: "";}
.icon-money-bag:before {content: "";}
.icon-money-bubble:before {content: "";}
.icon-money-hierarchy:before {content: "";}
.icon-networking:before {content: "";}
.icon-pie-chart-1:before {content: "";}
.icon-pie-chart-2:before {content: "";}
.icon-pie-chart-3:before {content: "";}
.icon-pie-chart-board:before {content: "";}
.icon-piggy-bank:before {content: "";}
.icon-presentation:before {content: "";}
.icon-safe:before {content: "";}
.icon-search-money:before {content: "";}
.icon-search-stats-1:before {content: "";}
.icon-send-money:before {content: "";}
.icon-shacking-hands:before {content: "";}
.icon-stamp:before {content: "";}
.icon-support:before {content: "";}
.icon-target-1:before {content: "";}
.icon-target-2:before {content: "";}
.icon-target-3:before {content: "";}
.icon-target-4:before {content: "";}
.icon-target-money:before {content: "";}
.icon-tasks-1:before {content: "";}
.icon-tasks-2:before {content: "";}
.icon-tasks-3:before {content: "";}
.icon-tasks-checked:before {content: "";}
.icon-tie:before {content: "";}
.icon-time-money:before {content: "";}
.icon-USD-circle:before {content: "";}
.icon-USD:before {content: "";}
.icon-voucher:before {content: "";}
.icon-workflow:before {content: "";}
.icon-write-check:before {content: "";}
.icon-airplay:before {content: "";}
.icon-antena-1:before {content: "";}
.icon-antena-2:before {content: "";}
.icon-antena-3:before {content: "";}
.icon-bluetooth:before {content: "";}
.icon-broadcast:before {content: "";}
.icon-cloud-backup:before {content: "";}
.icon-cloud-check:before {content: "";}
.icon-cloud-download:before {content: "";}
.icon-cloud-edit:before {content: "";}
.icon-cloud-error-2:before {content: "";}
.icon-cloud-error:before {content: "";}
.icon-cloud-help:before {content: "";}
.icon-cloud-hosting:before {content: "";}
.icon-cloud-locked:before {content: "";}
.icon-cloud-minus:before {content: "";}
.icon-cloud-music:before {content: "";}
.icon-cloud-off:before {content: "";}
.icon-cloud-plus:before {content: "";}
.icon-cloud-search:before {content: "";}
.icon-cloud-settings:before {content: "";}
.icon-cloud-share:before {content: "";}
.icon-cloud-sync:before {content: "";}
.icon-cloud-upload:before {content: "";}
.icon-cloud:before {content: "";}
.icon-database-backup:before {content: "";}
.icon-database-check:before {content: "";}
.icon-database-edit:before {content: "";}
.icon-database-error:before {content: "";}
.icon-database-firewall:before {content: "";}
.icon-database-locked:before {content: "";}
.icon-database-plus:before {content: "";}
.icon-database-refresh:before {content: "";}
.icon-database-remove:before {content: "";}
.icon-database-search:before {content: "";}
.icon-database-settings:before {content: "";}
.icon-database:before {content: "";}
.icon-internet-block:before {content: "";}
.icon-internet-location:before {content: "";}
.icon-internet-lock:before {content: "";}
.icon-internet-refresh:before {content: "";}
.icon-internet-search:before {content: "";}
.icon-internet-settings:before {content: "";}
.icon-internet-time:before {content: "";}
.icon-internet:before {content: "";}
.icon-mobile-hotspot:before {content: "";}
.icon-network-desktop:before {content: "";}
.icon-network-laptop:before {content: "";}
.icon-network-smartphone:before {content: "";}
.icon-network:before {content: "";}
.icon-satelite-signal:before {content: "";}
.icon-satelite:before {content: "";}
.icon-server-backup:before {content: "";}
.icon-server-check:before {content: "";}
.icon-server-edit:before {content: "";}
.icon-server-error:before {content: "";}
.icon-server-firewall:before {content: "";}
.icon-server-locked:before {content: "";}
.icon-server-plus:before {content: "";}
.icon-server-refresh:before {content: "";}
.icon-server-remove:before {content: "";}
.icon-server-search:before {content: "";}
.icon-server-settings:before {content: "";}
.icon-server:before {content: "";}
.icon-signal-1:before {content: "";}
.icon-signal-2:before {content: "";}
.icon-signal-4:before {content: "";}
.icon-usb-1:before {content: "";}
.icon-usb-2:before {content: "";}
.icon-wifi-locked:before {content: "";}
.icon-wifi-tethering-off:before {content: "";}
.icon-wifi-tethering:before {content: "";}
.icon-wifi:before {content: "";}
.icon-D-glasses:before {content: "";}
.icon-armchair:before {content: "";}
.icon-balloons:before {content: "";}
.icon-baseball-1:before {content: "";}
.icon-baseball-2:before {content: "";}
.icon-basketball-2:before {content: "";}
.icon-basketball:before {content: "";}
.icon-binoculars:before {content: "";}
.icon-bow-arrow:before {content: "";}
.icon-bowling-1:before {content: "";}
.icon-bowling-2:before {content: "";}
.icon-chess-1:before {content: "";}
.icon-chess-2:before {content: "";}
.icon-couch:before {content: "";}
.icon-cutter:before {content: "";}
.icon-diamond-1:before {content: "";}
.icon-diamond-2:before {content: "";}
.icon-diamond-ring:before {content: "";}
.icon-do-not-disturb:before {content: "";}
.icon-dress:before {content: "";}
.icon-duck-toy:before {content: "";}
.icon-fireworks:before {content: "";}
.icon-fishing:before {content: "";}
.icon-fitness:before {content: "";}
.icon-flashlight:before {content: "";}
.icon-football:before {content: "";}
.icon-funnel:before {content: "";}
.icon-gift:before {content: "";}
.icon-golf:before {content: "";}
.icon-guitar:before {content: "";}
.icon-hammer:before {content: "";}
.icon-hanger-1:before {content: "";}
.icon-hanger-2:before {content: "";}
.icon-hat-1:before {content: "";}
.icon-hat-2:before {content: "";}
.icon-hipster-glasses:before {content: "";}
.icon-iron:before {content: "";}
.icon-kg:before {content: "";}
.icon-kite:before {content: "";}
.icon-lamp-1:before {content: "";}
.icon-lamp-2:before {content: "";}
.icon-lego-1:before {content: "";}
.icon-lego-2:before {content: "";}
.icon-magic-wand-3:before {content: "";}
.icon-magic-wand-4:before {content: "";}
.icon-origami-1:before {content: "";}
.icon-origami-2:before {content: "";}
.icon-pants:before {content: "";}
.icon-pingpong:before {content: "";}
.icon-pool:before {content: "";}
.icon-puzzle:before {content: "";}
.icon-razor:before {content: "";}
.icon-ribbon-bow:before {content: "";}
.icon-safety-pin:before {content: "";}
.icon-saw:before {content: "";}
.icon-screwdriver:before {content: "";}
.icon-scuba:before {content: "";}
.icon-shirt:before {content: "";}
.icon-shoes:before {content: "";}
.icon-shovel:before {content: "";}
.icon-soccer-shoe:before {content: "";}
.icon-soccer:before {content: "";}
.icon-swimsuit:before {content: "";}
.icon-swiss-knife:before {content: "";}
.icon-t-shirt:before {content: "";}
.icon-umbrella-open:before {content: "";}
.icon-underwear:before {content: "";}
.icon-volleyball:before {content: "";}
.icon-watering-can:before {content: "";}
.icon-wedding-rings:before {content: "";}
.icon-whistle:before {content: "";}
.icon-wrench-1:before {content: "";}
.icon-wrench-2:before {content: "";}
.icon-wrench-3:before {content: "";}
.icon-wrench-hammer:before {content: "";}
.icon-wrench-screwdriver-1:before {content: "";}
.icon-wrench-screwdriver-2:before {content: "";}
.icon-gag:before {content: "";}
.icon-px:before {content: "";}
.icon-after-effects:before {content: "";}
.icon-aim:before {content: "";}
.icon-airbnb:before {content: "";}
.icon-amazon:before {content: "";}
.icon-android:before {content: "";}
.icon-apple:before {content: "";}
.icon-audition:before {content: "";}
.icon-bebo:before {content: "";}
.icon-behance:before {content: "";}
.icon-blogger:before {content: "";}
.icon-bridge:before {content: "";}
.icon-chrome:before {content: "";}
.icon-codepen:before {content: "";}
.icon-creativecloud:before {content: "";}
.icon-creativemarket:before {content: "";}
.icon-delicious:before {content: "";}
.icon-deviantart:before {content: "";}
.icon-digg:before {content: "";}
.icon-dreamweaver:before {content: "";}
.icon-dribbble:before {content: "";}
.icon-drive:before {content: "";}
.icon-dropbox:before {content: "";}
.icon-envato:before {content: "";}
.icon-facebook-messanger:before {content: "";}
.icon-facebook:before {content: "";}
.icon-finder:before {content: "";}
.icon-firefox:before {content: "";}
.icon-flash2:before {content: "";}
.icon-flicr:before {content: "";}
.icon-forrst:before {content: "";}
.icon-foursquare:before {content: "";}
.icon-git:before {content: "";}
.icon-google-play-1:before {content: "";}
.icon-google-play-2:before {content: "";}
.icon-google-plus:before {content: "";}
.icon-hangouts:before {content: "";}
.icon-illustrator:before {content: "";}
.icon-inbox2:before {content: "";}
.icon-indesign:before {content: "";}
.icon-inspect:before {content: "";}
.icon-instagram:before {content: "";}
.icon-kickstarter:before {content: "";}
.icon-lastfm:before {content: "";}
.icon-linkedin:before {content: "";}
.icon-opera:before {content: "";}
.icon-osx:before {content: "";}
.icon-paypal:before {content: "";}
.icon-penterest:before {content: "";}
.icon-photoshop:before {content: "";}
.icon-picasa:before {content: "";}
.icon-prelude:before {content: "";}
.icon-premiere-pro:before {content: "";}
.icon-rdio:before {content: "";}
.icon-reddit:before {content: "";}
.icon-rss:before {content: "";}
.icon-safari:before {content: "";}
.icon-skype:before {content: "";}
.icon-soundcloud:before {content: "";}
.icon-spotify:before {content: "";}
.icon-squarespace:before {content: "";}
.icon-stumble-upon:before {content: "";}
.icon-tumblr:before {content: "";}
.icon-twitter:before {content: "";}
.icon-vimeo-1:before {content: "";}
.icon-vimeo-2:before {content: "";}
.icon-vk:before {content: "";}
.icon-watsup:before {content: "";}
.icon-wikipedia:before {content: "";}
.icon-windows:before {content: "";}
.icon-wordpress:before {content: "";}
.icon-xing:before {content: "";}
.icon-yahoo:before {content: "";}
.icon-youtube:before {content: "";}
.icon-zerply:before {content: "";}
.icon-alarm-add:before {content: "";}
.icon-alarm-off:before {content: "";}
.icon-alarm-on:before {content: "";}
.icon-alarm:before {content: "";}
.icon-calendar-2:before {content: "";}
.icon-calendar-check:before {content: "";}
.icon-calendar-date-2:before {content: "";}
.icon-calendar-date:before {content: "";}
.icon-calendar-time:before {content: "";}
.icon-calendar:before {content: "";}
.icon-clock-2:before {content: "";}
.icon-clock:before {content: "";}
.icon-compass-2:before {content: "";}
.icon-compass:before {content: "";}
.icon-direction:before {content: "";}
.icon-directions-1:before {content: "";}
.icon-directions-2:before {content: "";}
.icon-distance-1:before {content: "";}
.icon-distance-2:before {content: "";}
.icon-fast-delivery:before {content: "";}
.icon-gps-location:before {content: "";}
.icon-history:before {content: "";}
.icon-hourglass-1:before {content: "";}
.icon-hourglass-2:before {content: "";}
.icon-hourglass-reverse:before {content: "";}
.icon-infinite-loop:before {content: "";}
.icon-infinite:before {content: "";}
.icon-location-1-off:before {content: "";}
.icon-location-1-on:before {content: "";}
.icon-location-1-search:before {content: "";}
.icon-location-2-add:before {content: "";}
.icon-location-2-check:before {content: "";}
.icon-location-2-delete:before {content: "";}
.icon-location-2-off:before {content: "";}
.icon-location-2-remove:before {content: "";}
.icon-location-2:before {content: "";}
.icon-location-3:before {content: "";}
.icon-location-4:before {content: "";}
.icon-map-2:before {content: "";}
.icon-map-location-1:before {content: "";}
.icon-map-location-2:before {content: "";}
.icon-map-location-3:before {content: "";}
.icon-map-location-4:before {content: "";}
.icon-map-timezone:before {content: "";}
.icon-map:before {content: "";}
.icon-navigation-1:before {content: "";}
.icon-navigation-2:before {content: "";}
.icon-phone-location:before {content: "";}
.icon-street-location:before {content: "";}
.icon-street-view:before {content: "";}
.icon-timer-1:before {content: "";}
.icon-timer-2:before {content: "";}
.icon-wind-direction:before {content: "";}
.icon-wrist-watch:before {content: "";}
.icon-anchor:before {content: "";}
.icon-bicycle:before {content: "";}
.icon-bicycling:before {content: "";}
.icon-boat-1:before {content: "";}
.icon-boat-2:before {content: "";}
.icon-bus-wifi:before {content: "";}
.icon-bus:before {content: "";}
.icon-cable-ski:before {content: "";}
.icon-car-2:before {content: "";}
.icon-car-battery:before {content: "";}
.icon-car-key:before {content: "";}
.icon-car-parking:before {content: "";}
.icon-car-service:before {content: "";}
.icon-car-wash:before {content: "";}
.icon-car-wifi:before {content: "";}
.icon-car:before {content: "";}
.icon-cog:before {content: "";}
.icon-construction-barricade:before {content: "";}
.icon-construction-cone:before {content: "";}
.icon-directions:before {content: "";}
.icon-elevator-1:before {content: "";}
.icon-elevator-2:before {content: "";}
.icon-escalator-down:before {content: "";}
.icon-escalator-up:before {content: "";}
.icon-flight-land:before {content: "";}
.icon-flight-takeoff:before {content: "";}
.icon-forklift:before {content: "";}
.icon-fuel:before {content: "";}
.icon-garage:before {content: "";}
.icon-gas-station:before {content: "";}
.icon-gearbox:before {content: "";}
.icon-helicopter:before {content: "";}
.icon-helmet-1:before {content: "";}
.icon-helmet-2:before {content: "";}
.icon-kids-scooter:before {content: "";}
.icon-motorcycle:before {content: "";}
.icon-off-roader:before {content: "";}
.icon-pickup-truck:before {content: "";}
.icon-racing-flag:before {content: "";}
.icon-road:before {content: "";}
.icon-rudder:before {content: "";}
.icon-scooter:before {content: "";}
.icon-ship:before {content: "";}
.icon-speedometer:before {content: "";}
.icon-stairs-down:before {content: "";}
.icon-stairs-up:before {content: "";}
.icon-supercar:before {content: "";}
.icon-taxi-1:before {content: "";}
.icon-taxi-2:before {content: "";}
.icon-tractor:before {content: "";}
.icon-traffic-light:before {content: "";}
.icon-trailer:before {content: "";}
.icon-train-1:before {content: "";}
.icon-train-2:before {content: "";}
.icon-train-wifi:before {content: "";}
.icon-tram:before {content: "";}
.icon-truck:before {content: "";}
.icon-van:before {content: "";}
.icon-wagon:before {content: "";}
.icon-aids:before {content: "";}
.icon-ambulance:before {content: "";}
.icon-bandage-1:before {content: "";}
.icon-bandage-2:before {content: "";}
.icon-blood-1:before {content: "";}
.icon-blood-2:before {content: "";}
.icon-brain:before {content: "";}
.icon-cardio:before {content: "";}
.icon-cross-circle:before {content: "";}
.icon-cross-rectangle:before {content: "";}
.icon-DNA:before {content: "";}
.icon-drugs:before {content: "";}
.icon-emergency-call:before {content: "";}
.icon-emergency:before {content: "";}
.icon-first-aid:before {content: "";}
.icon-fitness-app:before {content: "";}
.icon-handicap:before {content: "";}
.icon-healthcare:before {content: "";}
.icon-heart-beat:before {content: "";}
.icon-hospital-building:before {content: "";}
.icon-hospital-circle:before {content: "";}
.icon-hospital-home:before {content: "";}
.icon-hospital-square:before {content: "";}
.icon-medical-book:before {content: "";}
.icon-medical-folder:before {content: "";}
.icon-medical-tests:before {content: "";}
.icon-microscope:before {content: "";}
.icon-ointment:before {content: "";}
.icon-paramedic:before {content: "";}
.icon-pharmacy:before {content: "";}
.icon-pill-2:before {content: "";}
.icon-pill-3:before {content: "";}
.icon-pill:before {content: "";}
.icon-pulse:before {content: "";}
.icon-spermatosoid:before {content: "";}
.icon-stethoscope:before {content: "";}
.icon-stretcher:before {content: "";}
.icon-surgical-knife:before {content: "";}
.icon-surgical-scissors:before {content: "";}
.icon-syringe:before {content: "";}
.icon-teeth-care:before {content: "";}
.icon-test-tube-2:before {content: "";}
.icon-test-tube:before {content: "";}
.icon-thermometer-1:before {content: "";}
.icon-toilet-paper:before {content: "";}
.icon-tooth:before {content: "";}
.icon-weight:before {content: "";}
.icon-alien:before {content: "";}
.icon-biohazard:before {content: "";}
.icon-bird:before {content: "";}
.icon-birdhouse:before {content: "";}
.icon-butterfly:before {content: "";}
.icon-casino-chip:before {content: "";}
.icon-coffin:before {content: "";}
.icon-controller-1:before {content: "";}
.icon-controller-2:before {content: "";}
.icon-controller-3:before {content: "";}
.icon-crossed-bones:before {content: "";}
.icon-day-night:before {content: "";}
.icon-death:before {content: "";}
.icon-dice:before {content: "";}
.icon-dream-house:before {content: "";}
.icon-eco-house:before {content: "";}
.icon-emoticon-grin:before {content: "";}
.icon-emoticon-smile:before {content: "";}
.icon-emoticon:before {content: "";}
.icon-exit:before {content: "";}
.icon-fence:before {content: "";}
.icon-fir-tree-1:before {content: "";}
.icon-fir-tree-2:before {content: "";}
.icon-fire-1:before {content: "";}
.icon-ghost:before {content: "";}
.icon-hanging:before {content: "";}
.icon-happy-mask:before {content: "";}
.icon-hipster-1:before {content: "";}
.icon-hipster-2:before {content: "";}
.icon-house-fire:before {content: "";}
.icon-house-lightening:before {content: "";}
.icon-house-search:before {content: "";}
.icon-incognito:before {content: "";}
.icon-labyrinth-1:before {content: "";}
.icon-labyrinth-2:before {content: "";}
.icon-leaf:before {content: "";}
.icon-lighthouse:before {content: "";}
.icon-love:before {content: "";}
.icon-middle-finger:before {content: "";}
.icon-moon:before {content: "";}
.icon-moustache:before {content: "";}
.icon-no-smoking:before {content: "";}
.icon-pacman:before {content: "";}
.icon-plant:before {content: "";}
.icon-playing-cards:before {content: "";}
.icon-poison:before {content: "";}
.icon-pong:before {content: "";}
.icon-poo:before {content: "";}
.icon-pool-1:before {content: "";}
.icon-radioactive:before {content: "";}
.icon-recycle:before {content: "";}
.icon-robot-1:before {content: "";}
.icon-robot-2:before {content: "";}
.icon-rock:before {content: "";}
.icon-run:before {content: "";}
.icon-sad-mask:before {content: "";}
.icon-scythe:before {content: "";}
.icon-shooting-star:before {content: "";}
.icon-skull:before {content: "";}
.icon-smoking:before {content: "";}
.icon-snowflake:before {content: "";}
.icon-snowman:before {content: "";}
.icon-steps:before {content: "";}
.icon-sun:before {content: "";}
.icon-tetris:before {content: "";}
.icon-theatre-masks:before {content: "";}
.icon-tombstone:before {content: "";}
.icon-tree:before {content: "";}
.icon-ufo:before {content: "";}
.icon-unicorn:before {content: "";}
.icon-vigilante:before {content: "";}
.icon-wall:before {content: "";}
.icon-wheat:before {content: "";}
.icon-account-book-1:before {content: "";}
.icon-account-book-female:before {content: "";}
.icon-account-book-male:before {content: "";}
.icon-contacts:before {content: "";}
.icon-female-sign:before {content: "";}
.icon-head-brainstorming:before {content: "";}
.icon-head-idea:before {content: "";}
.icon-head-money:before {content: "";}
.icon-head-question:before {content: "";}
.icon-head-search:before {content: "";}
.icon-head-settings:before {content: "";}
.icon-head-speech:before {content: "";}
.icon-head-time:before {content: "";}
.icon-head:before {content: "";}
.icon-ID-card:before {content: "";}
.icon-male-sign:before {content: "";}
.icon-people-female:before {content: "";}
.icon-people-idea:before {content: "";}
.icon-people-male:before {content: "";}
.icon-people-money:before {content: "";}
.icon-people-question:before {content: "";}
.icon-people-speech-1:before {content: "";}
.icon-people-speech-2:before {content: "";}
.icon-people-target:before {content: "";}
.icon-people-time:before {content: "";}
.icon-people:before {content: "";}
.icon-public-speaking:before {content: "";}
.icon-rolodex-2:before {content: "";}
.icon-rolodex:before {content: "";}
.icon-team-1:before {content: "";}
.icon-team-2:before {content: "";}
.icon-team-3:before {content: "";}
.icon-team-hierarchy:before {content: "";}
.icon-useer-female-picture:before {content: "";}
.icon-useer-male-picture:before {content: "";}
.icon-user-add:before {content: "";}
.icon-user-check:before {content: "";}
.icon-user-circle:before {content: "";}
.icon-user-delete:before {content: "";}
.icon-user-female-add:before {content: "";}
.icon-user-female-check:before {content: "";}
.icon-user-female-circle:before {content: "";}
.icon-user-female-delete:before {content: "";}
.icon-user-female-edit:before {content: "";}
.icon-user-female-options:before {content: "";}
.icon-user-female-picture-add:before {content: "";}
.icon-user-female-pictures:before {content: "";}
.icon-user-female-portrait:before {content: "";}
.icon-user-female-profile:before {content: "";}
.icon-user-female-settings:before {content: "";}
.icon-user-female-speech-1:before {content: "";}
.icon-user-female-speech-2:before {content: "";}
.icon-user-female:before {content: "";}
.icon-user-male-add:before {content: "";}
.icon-user-male-check:before {content: "";}
.icon-user-male-circle:before {content: "";}
.icon-user-male-delete:before {content: "";}
.icon-user-male-edit:before {content: "";}
.icon-user-male-options:before {content: "";}
.icon-user-male-picture-add:before {content: "";}
.icon-user-male-pictures:before {content: "";}
.icon-user-male-portrait:before {content: "";}
.icon-user-male-profile:before {content: "";}
.icon-user-male-settings:before {content: "";}
.icon-user-male-speech-1:before {content: "";}
.icon-user-male-speech-2:before {content: "";}
.icon-user-male:before {content: "";}
.icon-user-picture-1:before {content: "";}
.icon-user-picture-2:before {content: "";}
.icon-user-picture-add:before {content: "";}
.icon-user-profile-1:before {content: "";}
.icon-user-profile-2:before {content: "";}
.icon-user-search-2:before {content: "";}
.icon-user-target:before {content: "";}
.icon-user:before {content: "";}
.icon-users-male-female:before {content: "";}
.icon-users-male:before {content: "";}
.icon-users:before {content: "";}
.icon-VIP-card:before {content: "";}
.icon-badge-1:before {content: "";}
.icon-badge-2:before {content: "";}
.icon-crown:before {content: "";}
.icon-diploma-1:before {content: "";}
.icon-diploma-2:before {content: "";}
.icon-diploma-3:before {content: "";}
.icon-flag-1:before {content: "";}
.icon-flag-2:before {content: "";}
.icon-flag-3:before {content: "";}
.icon-flag-4:before {content: "";}
.icon-heart-broken:before {content: "";}
.icon-heart:before {content: "";}
.icon-hearts:before {content: "";}
.icon-like-2:before {content: "";}
.icon-like:before {content: "";}
.icon-medal-1:before {content: "";}
.icon-medal-2:before {content: "";}
.icon-medal-3:before {content: "";}
.icon-medal-4:before {content: "";}
.icon-medal-5:before {content: "";}
.icon-medal-6:before {content: "";}
.icon-olympic-torch:before {content: "";}
.icon-podium:before {content: "";}
.icon-star-circle:before {content: "";}
.icon-star-plus:before {content: "";}
.icon-star:before {content: "";}
.icon-trophy-1:before {content: "";}
.icon-trophy-2:before {content: "";}
.icon-trophy-3:before {content: "";}
.icon-unlike-2:before {content: "";}
.icon-unlike:before {content: "";}
.icon-verification:before {content: "";}
.icon-votes-2:before {content: "";}
.icon-votes:before {content: "";}
.icon-binary-code:before {content: "";}
.icon-bug-fixed:before {content: "";}
.icon-bug-search:before {content: "";}
.icon-bug:before {content: "";}
.icon-code-1:before {content: "";}
.icon-code-2:before {content: "";}
.icon-code-3:before {content: "";}
.icon-CPU-overclock:before {content: "";}
.icon-CPU:before {content: "";}
.icon-firewall-1:before {content: "";}
.icon-firewall-allert:before {content: "";}
.icon-firewall-block:before {content: "";}
.icon-firewall-disable:before {content: "";}
.icon-firewall-done:before {content: "";}
.icon-firewall-help:before {content: "";}
.icon-firewall-refresh:before {content: "";}
.icon-firewall-star:before {content: "";}
.icon-firewall:before {content: "";}
.icon-hierarchy-structure-1:before {content: "";}
.icon-hierarchy-structure-2:before {content: "";}
.icon-hierarchy-structure-3:before {content: "";}
.icon-hierarchy-structure-4:before {content: "";}
.icon-hierarchy-structure-5:before {content: "";}
.icon-hierarchy-structure-6:before {content: "";}
.icon-html-5:before {content: "";}
.icon-link-1-add:before {content: "";}
.icon-link-1-broken:before {content: "";}
.icon-link-1-remove:before {content: "";}
.icon-link-1:before {content: "";}
.icon-link-2-broken:before {content: "";}
.icon-link-2:before {content: "";}
.icon-link-3-broken:before {content: "";}
.icon-link-3:before {content: "";}
.icon-search-stats:before {content: "";}
.icon-window-404:before {content: "";}
.icon-window-binary-code:before {content: "";}
.icon-window-bookmark:before {content: "";}
.icon-window-code:before {content: "";}
.icon-window-console:before {content: "";}
.icon-window-content:before {content: "";}
.icon-window-cursor:before {content: "";}
.icon-window-edit:before {content: "";}
.icon-window-layout:before {content: "";}
.icon-window-loading:before {content: "";}
.icon-window-lock:before {content: "";}
.icon-window-refresh:before {content: "";}
.icon-window-search:before {content: "";}
.icon-window-settings:before {content: "";}
.icon-window-user:before {content: "";}
.icon-window:before {content: "";}
.icon-windows-open:before {content: "";}