<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: beauty is accepting and embracing once	</title>
	<atom:link href="https://gitlab.com/Soham123/wordpress.git/2018/02/23/beauty-is-accepting-and-embracing-once/feed/" rel="self" type="application/rss+xml" />
	<link>https://gitlab.com/Soham123/wordpress.git/2018/02/23/beauty-is-accepting-and-embracing-once/</link>
	<description></description>
	<lastBuildDate>Fri, 23 Feb 2018 16:30:15 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.4.1</generator>
	<item>
		<title>
		By: James 'Jimmy' Mayberry-Smithwick		</title>
		<link>https://gitlab.com/Soham123/wordpress.git/2018/02/23/beauty-is-accepting-and-embracing-once/#comment-13</link>

		<dc:creator><![CDATA[James 'Jimmy' Mayberry-Smithwick]]></dc:creator>
		<pubDate>Fri, 23 Feb 2018 16:30:15 +0000</pubDate>
		<guid isPermaLink="false">http://w4.foxdsgn.com/awa/?p=478#comment-13</guid>

					<description><![CDATA[Over last night&#039;s simple dinner of Moules Marinieres my life-partner and I caught up on some thoughts we&#039;ve been sharing recently. In an age of rampant consumerism and on-demand television, can we really be surprised that the new generation would rather listen to hip hop than appreciate the subversive nature of the works of Arnold Schoenberg? Unless we send out a clear message to the Bob Diamonds and Howard Schultz&#039;s of this world they will never learn!]]></description>
			<content:encoded><![CDATA[<p>Over last night&#8217;s simple dinner of Moules Marinieres my life-partner and I caught up on some thoughts we&#8217;ve been sharing recently. In an age of rampant consumerism and on-demand television, can we really be surprised that the new generation would rather listen to hip hop than appreciate the subversive nature of the works of Arnold Schoenberg? Unless we send out a clear message to the Bob Diamonds and Howard Schultz&#8217;s of this world they will never learn!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
