<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>
	Comments on: beauty is in the eye of the beholder	</title>
	<atom:link href="https://gitlab.com/Soham123/wordpress.git/2018/02/23/beauty-is-in-the-eye-of-the-beholder/feed/" rel="self" type="application/rss+xml" />
	<link>https://gitlab.com/Soham123/wordpress.git/2018/02/23/beauty-is-in-the-eye-of-the-beholder/</link>
	<description></description>
	<lastBuildDate>Fri, 23 Feb 2018 16:29:15 +0000</lastBuildDate>
	<sy:updatePeriod>
	hourly	</sy:updatePeriod>
	<sy:updateFrequency>
	1	</sy:updateFrequency>
	<generator>https://wordpress.org/?v=5.4.1</generator>
	<item>
		<title>
		By: Milliband 4 PM		</title>
		<link>https://gitlab.com/Soham123/wordpress.git/2018/02/23/beauty-is-in-the-eye-of-the-beholder/#comment-15</link>

		<dc:creator><![CDATA[Milliband 4 PM]]></dc:creator>
		<pubDate>Fri, 23 Feb 2018 16:29:15 +0000</pubDate>
		<guid isPermaLink="false">http://w4.foxdsgn.com/awa/?p=488#comment-15</guid>

					<description><![CDATA[I was just the other day updating my blogroll on my iPad 4 when I realised. The whole concept of maternity leave is an affront to gender equality - let&#039;s put an end to this patriarchal system of repression and stigmatisation! That&#039;s just one more reason why we must stop multinationals from buying up British companies!]]></description>
			<content:encoded><![CDATA[<p>I was just the other day updating my blogroll on my iPad 4 when I realised. The whole concept of maternity leave is an affront to gender equality &#8211; let&#8217;s put an end to this patriarchal system of repression and stigmatisation! That&#8217;s just one more reason why we must stop multinationals from buying up British companies!</p>
]]></content:encoded>
		
			</item>
	</channel>
</rss>
